<div class="login-container">
  <div class="login-card">
    <h1>Bem-vindo</h1>
    <p>Faça login para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          class="input"
          [class.input-error]="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        />

        <small
          *ngIf="
            loginForm.get('email')?.errors && loginForm.get('email')?.touched
          "
        >
          <span *ngIf="loginForm.get('email')?.errors?.['required']">
            O email é obrigatório
          </span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">
            Digite um email válido
          </span>
        </small>
      </div>

      <div class="form-group">
        <label>Senha</label>

        <div class="password-wrapper">
          <input
            type="password"
            formControlName="password"
            class="input"
            [class.input-error]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          />

          <button
            type="button"
            class="toggle-password"
            (click)="togglePassword()"
          >
            {{ showPassword ? "🙈" : "👁️" }}
          </button>
        </div>

        <small
          *ngIf="
            loginForm.get('password')?.errors &&
            loginForm.get('password')?.touched
          "
        >
          <span *ngIf="loginForm.get('password')?.errors?.['required']">
            A senha é obrigatória
          </span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
            A senha deve ter no mínimo 6 caracteres
          </span>
        </small>
      </div>
      <div *ngIf="errorMessage" class="error-box">
        {{ errorMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-box">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">
        Entrar
      </button>
    </form>
  </div>
</div>
